p{
    margin: 14px 0px;
}

#inputBody{
    background-color: rgb(236, 196, 243);
    margin: 0px 10px;
    padding: 20px;
    color: black;
    border-radius: 20px;
}

#inputCont{
    margin-left: 10%;
}

#title{
    border-radius: 5px;
}

#desc{
    border-radius: 10px;
    resize: none;
}

#submit{
    background-color: rgb(146, 1, 146);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}